.heading-section-wrapper{
    display: grid;
    grid-template-columns: 6fr 12fr 16fr;
    /* grid-template-columns: 4fr 15fr 12fr; */
    grid-gap:50px;
    background-color: black;
    /* font-size: 1.25em; */
    padding: 10px 0px 10px 10px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.nav-main-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.nav-main-wrapper > .nav-title {
    color: #dfdb1f;
    font-weight: 800;
}
.nav-main-wrapper > .links-wrapper {
    display: flex;
    justify-content: space-between;
    text-align: left; 
}

.nav-link > a {
    font-size: 1.2em;
    font-weight: 900;
}

.spark-link > a {
    transition: all 0.1s;
}
.spark-link > a:hover  {
    /* border: 1px solid greenyellow; */
}

/* .spark-link > a:active + .wrapped-link-menu {
    background-color: rgb(29, 112, 112);
    opacity: 1;
    visibility: visible;
} */
.wrapped-link-menu {
    position: absolute;
    margin-top: 20px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
}
.wrapped-link-menu > ul {
    margin:0px 1px;
    padding: 10px 20px;;
}
.wrapped-link-menu > ul > li {
    list-style: none;
}
.spark-link > a:hover + .wrapped-link-menu {
    background-color: black;
    opacity: 1;
    visibility: visible;
}

/* login buttons */
.heading-section-wrapper > .login-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 10px;
}

.heading-section-wrapper > .login-wrapper > .log-link {
    padding: 10px 30px 10px 30px;
    background-color: #575151;
    border-radius: 5px;
    transition: 0.5s;
}
.heading-section-wrapper > .login-wrapper > .log-link:focus {
    background-color: #355e3d;
}

.heading-section-wrapper > .login-wrapper > .log-link > a  {
    font-size: 1.1em;
    font-weight: 900;    
}

.heading-section-wrapper > .login-wrapper > .log-link > a > i {
    color: rgba(36, 216, 36, 0.658);
    font-size: 1.2em;
}

.heading-section-wrapper > .login-wrapper > .search > a > i {
    color: grey;
    font-size: 2em;
}