
@media (min-width: 1141px) {
    html {
        background-color: black;
        
    }
    body {
        width:1440px;
        margin: 0 auto;
    }
}

@media (max-width: 1440px) {

}



@media (max-width: 1025px) {
    .nav-link > a {
        font-size: 1.0em;
        
    }    
    .heading-section-wrapper > .login-wrapper  {
        margin-left: 60px;
    }

    .heading-section-wrapper > .login-wrapper > .log-link {
        padding: 10px 10px 10px 10px;
    }
    .center-section-wrapper >  .center-left  {
        padding: 0px 70px 20px 60px;
    }
    .center-section-wrapper >  .center-left > .center-left-top-text > p {
        font-size: 1.7em;
        letter-spacing: 1px ;
    }
    .center-section-wrapper >  .center-left > .center-left-middle-text > p {
        font-size: 1.6em;
        /* letter-spacing: 1px ; */
        word-spacing: 3px;
    }
    .center-section-wrapper >  .center-left > .center-left-bottom-text > div > a {
        /* font-size: 1.6em;
        font-weight: 900; */
    }

}

@media (max-width: 769px) {

    .heading-section-wrapper{
        display: grid;
        grid-template-columns: 4fr 14fr 16fr;
        /* grid-template-columns: 4fr 15fr 12fr; */
        grid-gap:30px;
    }

    .heading-section-wrapper > .login-wrapper {
        margin-left:60px;
        /* margin-right: 10px; */
    }
    .nav-link > a {
        font-weight: 900;
        font-size: 0.9em;
    }
    .heading-section-wrapper > .login-wrapper > .log-link > a  {
        font-size: 0.9em;
    }
    .heading-section-wrapper > .login-wrapper > .log-link > a > i {
        font-size: 1.0em;
    }
    
    .heading-section-wrapper > .login-wrapper > .search > a > i {
        font-size: 1em;
    }

    .center-section-wrapper >  .center-left  {
        padding: 0px 70px 20px 20px;
    }   

    .center-section-wrapper >  .center-left > .center-left-top-text > p {
        font-size: 1.2em;
        letter-spacing: 1px ;
    }
    .center-section-wrapper >  .center-left > .center-left-middle-text > p {
        font-size: 1.2em;
        /* letter-spacing: 1px ; */
        word-spacing: 4px;
    }

    .center-section-wrapper >  .center-left > .center-left-bottom-text > .center-section-register {
        padding: 10px 10px;
        /* margin: 10px 30px 10px 0px;
        background-color:rgb(75, 206, 121) ;
        border-radius: 5px; */
    }
    
    .center-section-wrapper >  .center-left > .center-left-bottom-text > .learn-more {
        padding: 10px 10px;
        /* margin: 10px 0px;
        background-color:black ;
        border-radius: 5px; */
    }
    .center-section-wrapper >  .center-left > .center-left-bottom-text > div > a {
        /* font-size: 1.2em;
        font-weight: 600; */
    }

    .center-section-wrapper > .center-right {
        font-size: 1em;
    }

    .footer-section-navs > .footer-nav > a {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .project-wrapper > #imgproyect {
        margin:0px 0px 0px 0px;
        float: none;
    }

}

@media (max-width: 675px) {
    .heading-section-wrapper {
        display: grid;;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        padding: 20px;
    }
    .heading-section-wrapper > .login-wrapper {
        margin-left:10px;
        margin-right: 10px;
    }

    .logo {
        text-align: center;
    }
    .logo img {
        width: 350px;
     } 

    .center-section-wrapper {
        display: grid;;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }  
    
    .center-section-wrapper > .center-left {
        padding: 0px 10px 0px 15px;
    }
    .center-section-wrapper >  .center-left > .center-left-top-text > p {
        font-size: 2.1em;
    }
    .center-section-wrapper >  .center-left > .center-left-middle-text > p {
        font-size: 2em;
        word-spacing: 6px;
    }

    .footer-section-navs{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .footer-section-navs > .footer-nav > a {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .footer-section-navs > .footer-nav > a > .footer-nav-span {
        padding-left: 5px;
    }


    .posters-wrapper > .posters > .poster {
        display: grid;
        grid-template-columns: 1fr;
        /* margin: -4px;
        padding: 42px; */
    }
    .posters-wrapper > .posters > .poster > .poster-text-wrapper {
        order: 1;
        padding: 0px;
     }

     .posters-wrapper > .posters > .poster > .poster-img {
        order: 2;
     }   
     .collections-section-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
    }
     .form-section {
        width: 500px;
    }
    .form input {
        width: 250px;
    }

}

@media (max-width: 425px) {

    .center-section-wrapper >  .center-left > .center-left-top-text > p {
        font-size: 1.4em;
    }
    .center-section-wrapper >  .center-left > .center-left-middle-text > p {
        font-size: 1.3em;
        word-spacing: 3px;
    }
    .center-section-wrapper >  .center-left > .center-left-bottom-text {
        /* display: flex; */
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
    }
    .center-section-wrapper >  .center-left > .center-left-bottom-text > div {
        width: 250px;
    }
    .project-wrapper {
        padding: 20px 10px;
    }
    .project-wrapper > #imgproyect {
        width: 350px;
        margin:0px 30px 20px 20px;
        /* this is the trick */
        /* float: none; */
    }
    .form > .form-group  {
        display: flex;
        flex-direction: column-reverse;
        justify-content: stretch;
        /* margin-top: 30px; */
        /* margin-bottom: 10px;
        padding: 1em; */
    }
    .form label {
        padding-bottom: 5px;
    }
}
@media (max-width: 320px) {
    .logo img {
        width: 250px;
     } 
     .center-section-wrapper >  .center-left > .center-left-top-text > p {
        font-size: 1.0em;
    }
    .center-section-wrapper >  .center-left > .center-left-middle-text > p {
        font-size: 1.1em;
        word-spacing: 0px;
        /* letter-spacing: 1px; */
    }     
     .center-section-wrapper > .center-right > .img-picture img{
        width: 300px;
    }

    .project-wrapper > #imgproyect {
        width: 250px;
        margin:0px 30px 20px 20px;

    }
    .form input {
        width: 200px;
    }
}